nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    font-size:2rem;
    font-weight: 700;
    color: #27251F !important;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #FFC72C;
  }
  
  nav span{
    color: #EF767A;
    font-weight: 700;
  }
  
  nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navLinks{
    padding: 1rem;
    border-radius: 1rem;
    background-color: #DA291C;
    color: #27251F !important;
    transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
  }

  .navLinks:hover{
    color: #FFC72C !important;
    background-color: #27251F;
    border-radius: 1.1rem;
    /* padding: 10px; */
    cursor: pointer;
  }
  
  nav ul li{
    padding: 0rem 5rem;
  }
  
  nav ul li a:focus{
    color: #EF767A;
  }
  
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    overflow: hidden;
  }